.tittle-dashboard {
  color: #c36;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", Sans-serif;
  margin-top: 30px;
}

.chartBox {
  display: block;
  margin: auto;
  width: 800px;
  height: 800px;
}

#myChart {
  margin: 4px;
}

#secondMyChart {
  margin: 4px;
}
